.enter {
  width: 1190px;
  min-height: 600px;
  margin: 0 auto;
}
.enter .enter-top {
  width: 1190px;
  height: 40px;
  border-bottom: 1px solid #DBDBDB;
  margin: 25px 0;
}
.enter .enter-top span {
  display: block;
}
.enter .enter-top span:nth-of-type(1) {
  font-size: 18px;
  color: #000000;
  border-bottom: 2px solid #4A6AFF;
  float: left;
  padding: 0 10px 11px 0;
  margin-top: 5px;
}
.enter .enter-top span:nth-of-type(2) {
  float: right;
  font-size: 14px;
  color: #4A4A4A;
  margin-top: 15px;
}
.enter .enter-bottom .el-form .el-form-item {
  width: 574px;
  margin-left: 275px;
}
.enter .enter-bottom .el-form .el-form-item__label {
  width: 240px !important;
  font-size: 16px;
  color: #000000;
}
.enter .enter-bottom .el-form .el-form-item__content {
  margin-left: 240px !important;
}
.enter .enter-bottom .el-form .el-upload {
  width: 80px;
  height: 36px;
}
.enter .enter-bottom .el-form .el-upload .el-button {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  width: 80px;
  height: 36px;
  font-size: 14px;
  color: rgba(73, 73, 73, 0.65);
  background: #fff;
}
.enter .enter-bottom .enter-basic {
  overflow: hidden;
  padding-bottom: 51px;
  border-bottom: 1px solid #eee;
}
.enter .enter-bottom .enter-basic .title-basic {
  font-size: 16px;
  color: #3B64FE;
  margin-bottom: 44px;
}
.enter .enter-bottom .enter-basic .title-basic i {
  display: block;
  width: 25px;
  height: 21px;
  float: left;
  margin: -3px 7px 0 0;
}
.enter .enter-bottom .enter-basic .title-basic i img {
  width: 100%;
  height: 100%;
}
.enter .enter-bottom .enter-honor {
  overflow: hidden;
  padding-bottom: 51px;
  border-bottom: 1px solid #eee;
  margin-top: 44px;
}
.enter .enter-bottom .enter-honor .title-honor {
  font-size: 16px;
  color: #3B64FE;
  margin-bottom: 44px;
}
.enter .enter-bottom .enter-honor .title-honor i {
  display: block;
  width: 27px;
  height: 17px;
  float: left;
  margin: -3px 7px 0 0;
}
.enter .enter-bottom .enter-honor .title-honor i img {
  width: 100%;
  height: 100%;
}
.enter .enter-bottom .enter-liaison {
  overflow: hidden;
  padding-bottom: 69px;
  margin-top: 44px;
}
.enter .enter-bottom .enter-liaison .title-liaison {
  font-size: 16px;
  color: #3B64FE;
  margin-bottom: 44px;
}
.enter .enter-bottom .enter-liaison .title-liaison i {
  display: block;
  width: 20px;
  height: 24px;
  float: left;
  margin: -3px 7px 0 0;
}
.enter .enter-bottom .enter-liaison .title-liaison i img {
  width: 100%;
  height: 100%;
}
.enter .enter-bottom .present {
  width: 1190px;
  text-align: center;
  margin-bottom: 65px;
}
.enter .enter-bottom .present .el-button {
  width: 112px;
  height: 35px;
  background: #235EFD;
  border-radius: 2px;
}
