.service_nav {
  margin: 31px 0 12px 0;
}
.service_nav .el-breadcrumb__item__inner {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}
.service_nav .el-breadcrumb__item:last-child .el-breadcrumb__item__inner {
  font-size: 12px;
  color: #666666;
  line-height: 18px;
}
