.facilitators-content {
  margin: -20px 0 0 0;
}
.facilitators-content dl {
  width: 279px;
  height: 298px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #EAEDEC;
  margin: 20px 24px 0 0;
}
.facilitators-content dl dt {
  width: 277px;
  height: 208px;
}
.facilitators-content dl dt img {
  width: 100%;
  height: 100%;
}
.facilitators-content dl dd {
  width: 278px;
  height: 80px;
  text-align: center;
}
.facilitators-content dl dd h1 {
  font-size: 18px;
  color: #000000;
  line-height: 22px;
  margin: 20px 0 10px 0;
}
.facilitators-content dl dd strong {
  font-size: 16px;
  color: #235EFD;
  line-height: 22px;
  font-weight: normal;
}
.facilitators-content dl:nth-of-type(4n) {
  margin-right: 0;
}
/*---------------------点击咨询弹出页面------------------*/
.nice .el-dialog--tiny {
  width: 840px;
  height: 686px;
}
.nice .el-dialog--tiny .el-dialog__header {
  width: 800px;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  background: #4B5A92;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 12px;
  text-align: left;
}
.nice .el-dialog__body {
  padding: 0;
}
.nice .el-dialog {
  margin-bottom: 0;
}
.nice .el-dialog--tiny .el-dialog__header .el-dialog__headerbtn {
  margin-top: 12px;
}
.nice .el-dialog--tiny .el-dialog__header span {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
}
.consulting_center {
  height: 466px;
  border-bottom: 1px solid #999;
  background: #fff;
  padding: 0;
}
.consulting_center .data_center {
  text-align: center;
  font-size: 12px;
  color: #B5B5B6;
  margin-bottom: 33px;
}
.airlines {
  margin-bottom: 25px;
}
.airlines span:first-of-type {
  display: block;
  font-size: 12px;
  color: #999999;
  margin: 0 0 20px -734px;
}
.airlines span:last-of-type {
  font-size: 16px;
  color: #4A4A4A;
  padding: 10px 12px 9px 17px;
  background: #E7E7E7;
  border-radius: 2px;
  margin-left: -486px;
}
.consumer {
  overflow: hidden;
  margin-bottom: 20px;
}
.consumer span:first-of-type {
  display: block;
  font-size: 12px;
  color: #999999;
  margin: 0 22px 15px 0;
  text-align: right;
}
.consumer span:last-of-type {
  font-size: 16px;
  color: #fff;
  padding: 10px 12px 9px 17px;
  background: #879CC6;
  border-radius: 2px;
  margin-left: 22px;
  float: right;
  margin-right: 22px;
}
.consulting_bottom {
  padding: 9px 20px 0 11px;
  overflow: hidden;
}
.consulting_bottom p {
  text-align: left;
}
.consulting_send {
  margin-top: 87px;
  float: right;
  width: 68px;
  height: 28px;
  background: #4B5A92;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  border: none;
}
