.business {
  height: 278px;
  background: #fff;
}
.business .business-inner {
  width: 1190px;
  height: 278px;
  margin: 0 auto;
}
.business .business-inner span {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #2E2A30;
  line-height: 40px;
  margin: 35px 0 7px 0;
}
.business .business-inner .business-bottom {
  height: 20px;
  margin-bottom: 10px;
  position: relative;
}
.business .business-inner .business-bottom span {
  display: block;
  width: 471px;
  height: 2px;
  background: #AFAFAF;
  margin: 18px auto;
}
.business .business-inner .business-bottom p {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: #AFAFAF;
  line-height: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  background: #fff;
  padding: 0 10px;
  margin-left: -182px;
}
.business .business-inner dl {
  width: 387px;
  height: 150px;
  float: left;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.09);
  margin-right: 10px;
}
.business .business-inner dl dt {
  width: 100px;
  height: 100px;
  float: left;
  margin: 25px 20px 25px 25px;
  cursor: pointer;
}
.business .business-inner dl dt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.business .business-inner dl dd {
  width: 226px;
  float: left;
  cursor: pointer;
}
.business .business-inner dl dd p {
  text-align: left;
  font-size: 14px;
  color: #7E7E7E;
}
.business .business-inner dl dd p:nth-of-type(1) {
  font-size: 18px;
  color: #2E2A30;
  margin: 29px 0 9px 0;
  line-height: 25px;
}
.business .business-inner dl dd span:nth-of-type(2) {
  font-size: 14px;
  color: #7E7E7E;
}
.business .business-inner dl:nth-of-type(3) {
  margin-right: 0;
}
