.header {
  height: 100%;
  background: #fff;
  z-index: 999;
  position: relative;
}
.header .header-top {
  height: 36px;
  line-height: 36px;
  background: #ECEEF1;
  position: relative;
}
.header .header-top .header-top-inner {
  width: 1190px;
  height: 36px;
  margin: 0 auto;
  line-height: 36px;
}
.header .header-top .header-top-inner .header-area {
  float: left;
  margin-right: 37px;
}
.header .header-top .header-top-inner .header-area span {
  float: left;
  font-size: 12px;
  color: #888888;
  margin: 0 2px;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(1) {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: -1px 5px 0 0;
  cursor: pointer;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(3) {
  font-size: 14px;
  cursor: pointer;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(4) {
  color: #3669Fe;
  cursor: pointer;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(5) {
  margin-right: 30px;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(6) {
  margin-right: 30px;
}
.header .header-top .header-top-inner .header-area span:nth-of-type(7) {
  margin-right: 30px;
}
.header .header-top .header-top-inner .header-login {
  float: right;
  margin-top: 12px;
}
.header .header-top .header-top-inner .header-login span {
  display: block;
  float: left;
  font-size: 12px;
  color: #888888;
  padding: 0 20px;
  border-right: 1px solid #888888;
  line-height: 14px;
  cursor: pointer;
}
.header .header-top .header-top-inner .header-login span a {
  color: #3669Fe;
}
.header .header-top .header-top-inner .header-login span:nth-of-type(2) {
  border: none;
}
.header .header-top .header-top-inner .header-login span:nth-of-type(2) a {
  color: #888888;
}
.header .header-bottom {
  height: 80px;
}
.header .header-bottom .header-bottom-inner {
  width: 1190px;
  margin: 0 auto;
  background: #fff;
  height: 80px;
}
.header .header-bottom .header-bottom-inner .header-bottom-logo {
  float: left;
  width: 140px;
  height: 50px;
  margin-top: 20px;
  margin-right: 100px;
  cursor: pointer;
}
.header .header-bottom .header-bottom-inner .header-bottom-logo img {
  width: 100%;
  height: 100%;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav {
  float: left;
  height: 80px;
  line-height: 80px;
  margin-right: 96px;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul {
  list-style: none;
  overflow: hidden;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul li {
  line-height: 40px;
  float: left;
  font-size: 15px;
  color: #000000;
  margin: 25px 25px 0 0;
  padding-bottom: -15px;
  cursor: pointer;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul li:hover {
  border-bottom: 3px solid #3669FE;
  color: #3669FE;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul li a {
  display: block;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul .active {
  border-bottom: 3px solid #3669FE;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul .active a {
  color: #3669FE;
}
.header .header-bottom .header-bottom-inner .header-bottom-nav ul li:nth-of-type(2) {
  display: block;
}
.header .header-bottom .header-bottom-inner .header-bottom-input {
  width: 389px;
  float: right;
}
.header .header-bottom .header-bottom-inner .header-bottom-input .el-input-group {
  width: 389px;
  margin-top: 22px;
}
.header .header-bottom .header-bottom-inner .header-bottom-input .el-input-group .el-input__inner {
  width: 321px;
  font-size: 12px;
  color: #9B9B9B;
  border-radius: 0;
  border-right: none;
}
.header .header-bottom .header-bottom-inner .header-bottom-input .el-input-group .el-input-group__append {
  width: 68px;
  border-radius: 0;
  background: #4A4A4A;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.header .header-bottom .header-bottom-inner .nav-box {
  width: 100%;
  height: 310px;
  background: #fff;
  border: 1px solid #DBDBDB;
  z-index: -1;
  position: absolute;
  top: -248px;
  left: 0;
  transition: all 0.2s ease;
  opacity: 0;
}
.header .header-bottom .header-bottom-inner .nav-box.nav-box-show {
  transition-duration: 0.7s;
  top: 116px;
  opacity: 1;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner {
  width: 1110px;
  height: 310px;
  margin: 0 auto;
  padding-left: 80px;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list {
  float: left;
  margin-right: 82px;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list span {
  display: block;
  width: 50px;
  height: 40px;
  margin: 32px 0 20px 20px;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list span img {
  width: 100%;
  height: 100%;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list ul {
  list-style: none;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list ul li {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
  margin-bottom: 18px;
  text-align: center;
  cursor: pointer;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list ul li:hover {
  color: #3669FE;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list ul li:nth-of-type(1) {
  font-size: 18px;
  color: #444444;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list ul li:nth-of-type(1):hover {
  color: #3669FE;
}
.header .header-bottom .header-bottom-inner .nav-box .nav-box-inner .nav-list:nth-last-of-type(1) {
  margin-right: 0;
}
.ctiy {
  width: 300px;
  height: 40px;
  position: absolute;
  top: 40px;
}
.ctiy .el-input {
  width: 200px;
}
.el-cascader-menus {
  position: absolute !important;
  top: 30px !important;
  left: 280px !important;
}
